# Filling missing values and deal with outliers

# Load the data

In [2]:
import sys
sys.path.append('/Users/badr/github_projects')

In [3]:
from fortinet_hacker_rank_interview.python_question.src.loading_data import load_data
data = load_data()
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

# Check the existence of NAN values in the data

In [4]:
data.isnull().sum().sort_values(ascending=False)

Credit_History       50
Self_Employed        32
LoanAmount           22
Dependents           15
Loan_Amount_Term     14
Gender               13
Married               3
Loan_ID               0
Education             0
ApplicantIncome       0
CoapplicantIncome     0
Property_Area         0
Loan_Status           0
dtype: int64

## Encode the categorical data

### Get columns that have object type

In [6]:
object_type_columns = data.columns[data.dtypes=='object']
object_type_columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

### check for unique values of each column

In [8]:
# check for unique values of each column
for i in set(object_type_columns)-{'Loan_ID'}:
    print(i, '-->', data[i].unique())

Property_Area --> ['Urban' 'Rural' 'Semiurban']
Gender --> ['Male' 'Female' nan]
Loan_Status --> ['Y' 'N']
Married --> ['No' 'Yes' nan]
Education --> ['Graduate' 'Not Graduate']
Dependents --> ['0' '1' '2' '3+' nan]
Self_Employed --> ['No' 'Yes' nan]

In [11]:
data["Loan_Amount_Term"].mode()[0]

360.0

In [ ]:
# The mode of a set of values is the value that appears most often. It can be multiple values.

**What technique to use to fill the empty values?**

Before starting filling the empty values, we need to explore the outlier in each variable, because the empty value technique that we want to use should work together with the prescence of outlier. For example, for a given variable, if we have a lot of outliers then the mean technique is not suitable at all to fill the empty values and we can replace it by the median.

For each variable that has missing values:
* First of all, we need to distinguish between: categorical variable or numerical variable.
* If it is categorical variable, we need to distinguish if it is has a significant order (ordinal, e.g. education level) or it doesn't have (e.g. Gender). For both case, we do not have too much missing values so we can use the mode technique (this technique aims to fill the empty values with the frequently used value).

* If the varibale is numerical, then  we can use mean, median, etc

In [ ]:
from fortinet_hacker_rank_interview.python_question.src.util import fill_empty_values_with_frequently_used

missing_values_categorical_variable = ["Gender", "Married", "Dependents", "Self_Employed", "Credit_History"]
for column in missing_values_categorical_variable:
    fill_empty_values_with_frequently_used(data, column)