# Data understanding

## Load the data from the source

In [3]:
import sys
sys.path.append('/Users/badr/github_projects')

In [4]:
from fortinet_hacker_rank_interview.python_question.src.loading_data import load_data
data = load_data()
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

## Columns discovery

In [11]:
columns = data.columns
number_features = data.shape[1]
number_observation = data.shape[0]
print(f"The features in the data are: {list(columns)}")
print(f"The number of feartures is {number_features} and the number of observation is {number_observation}")

The features in the data are: ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status']
The number of feartures is 13 and the number of observation is 614

## Data type discovery

In [12]:
data.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [23]:
from fortinet_hacker_rank_interview.python_question.src.util import data_type_discovery
data_type_discovery(data)

Features of Object type are: ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status']. Those features are called categorical variables
Features of Integer type are: ['ApplicantIncome'].
Features of Decimal type are: ['CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']. Those variables are numerical values

### Conclusion on the type of each feature
Based on the discreption above, and on the visualization of the values of each features we need to distinguish between those different type of data:

* Categorical features: These features have categories eg: (Gender, Married, ...)
* Ordinal features: Variables in categorical features having some order involved (Dependents, Education, ...)
* Numerical features: These features have numerical values (ApplicantIncome, CoapplicantIncome, ...)